bulletml
  action(label='top')
    changeDirection
      direction(type='absolute') 180
      term 1
    changeSpeed
      speed 8
      term 1
    wait 1
    changeSpeed
      speed 0
      term 50
    wait 50
    wait 500
    changeDirection
      direction(type='absolute') 0
      term 20
    changeSpeed
      speed 8
      term 50
    wait 50
