bulletml
  action(label='top')
    changeDirection
      direction(type='absolute') 180
      term 1
    changeSpeed
      speed 12
      term 1
    wait 1
    changeSpeed
      speed 0
      term 90
    wait 90
    wait 90
    changeDirection
      direction(type='absolute') 0
      term 20
    changeSpeed
      speed 12
      term 90
    wait 90
