bulletml
  action(label='top')
    changeDirection
      direction(type='absolute') 180
      term 1
    changeSpeed
      speed 4.0
      term 1
    wait 1
    changeSpeed
      speed 0.5
      term 60
    wait 60
