bulletml
  action(label='top')
    wait 90
    repeat
      times Infinity
      action
        fire
          bulletRef(label='type1')
          direction 0
        wait 50
  bullet(label='type1', option='{"type":1}')
    speed 1
    action
      wait 45
      changeSpeed
        speed 4.0
        term 20
